

.headerText{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 2%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 5%;
}

p {
    font-size: 18px;
    text-align: center;
    color: white;
    font-style: italic;
}

h2{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 2%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 40%;
}


h1{
    color: #8E793E;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 40px;
    padding: 2%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 40%;
}

.card-text {
    color: black;
    text-align: left;
  }