


.navbar-header{
    display: flex;
    height: 20px;
    align-items: left;
    padding: 0 1rem;
}

.navbar-toggle {
    background-color: white;
}


.logo a{
    color: #8E793E;
    text-decoration: none;
    font-size: 70px;
    margin-left: 10px;
    margin-top: 40px;
    font-family: 'Alex Brush', cursive;
    padding-top: 20px;
}


.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.nav-link{
    color:  #8E793E;
    text-align: left;
    padding: 0px;
    text-decoration: none;
    font-size: 15px;
}

nav-link a:hover{
    color: #ff6500;
    margin: 0px;
}