/*this css is for the navbar*/
img {
    border: solid 5px rgb(221, 181, 70);
}

.navbar {
    background-color: rgb(194, 131, 72);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}


.btn {
    border: solid black 2px;
    padding: 10px;
    margin: 5px;
}

.btn:hover {
    background-color: yellow;
}