/*this css is for the navbar*/
img {
    border: none;
    height: 50px;
    width: 50px;
}

.navbar {
    background-color:white;
    
}

.navbar-brand {
    font-size: 30px;
    color: rgba(255, 217, 0, 0.596);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    
}
.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}


.btn {
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: 5px;
    
}

.btn:hover {
    background-color: yellow;
}

