


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #231F20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gridLook {
  /* background-color: white;
  width: 100%;
  border: 20px red solid; */

}

.col-lg-6 {
  border: solid 2px black;
  height: 400px;
}

.know{
  background-image: url("./images/know.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: rgb(243, 190, 92);
}
.grow{
  background-image: url("./images/grow.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  
}
.glow{
  background-image: url("./images/glow.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
